@model GitColumnView

<table class="table table-striped text-center">
    <thead>
        <tr scope="col">
            <td>@Model.ColumnName</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model.Items)
            {
            <tr>
                <td id="@item.cssId" class="@item.cssClass">@item.itemName</td>
            </tr>
            }
        </tr>
    </tbody>
</table>


<ul class="pagination mb-0 ml-3" id="@(Model.ColumnName)_Pagination">
    @if (Model.CurrentPage > 1)
    {
        <li class="page-item">
            <a class="page-link" style="background: #1D5193; color: white" value="@(Model.CurrentPage - 1)">
                Previous
            </a>
        </li>
    }

    @{
        int padding = 2;
        int pageCount = Model.PageCount;

        for (int i = 1; i <= pageCount; i++)
        {
            if (pageCount > 5 * padding + 1)
            {
                if
                (
                i <= padding ||
                i > pageCount - padding ||
                (i >= Model.CurrentPage - padding && i <= Model.CurrentPage + padding)
                )
                {
                    <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                        <a class="page-link" style="background: #1D5193; color: white" value="@i">
                            @i
                        </a>
                    </li>
                }
                else if (i == Model.CurrentPage - padding - 1 || i == Model.CurrentPage + padding + 1)
                {
                    <li class="page-item disabled">
                        <span class="page-link" tabindex="-1">...</span>
                    </li>
                }
            }
            else
            {

                <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                    <a class="page-link" style="background: #1D5193; color: white" value="@i">
                        @i
                    </a>
                </li>
            }
        }
    }

    @if (Model.CurrentPage < Model.PageCount)
    {
        <li class="page-item">
            <a class="page-link" style="background: #1D5193; color: white" value="@(Model.CurrentPage + 1)">
                Next
            </a>
        </li>
    }
</ul>

<script>
    $("#@(Model.ColumnName)_Pagination a").click(function() {
        $("#currentPageNum@(Model.ColumnName)").val($(this).attr('value'))
        $("#GitLinkCheckout").click()
    })
</script>