
@{
    ViewBag.Title = ViewBag.FileName;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css?v=1.0.21.0" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site/Site.min.css?v=1.0.21.0" rel="stylesheet" type="text/css" />
    <link href="~/Content/pagination.min.css?v=1.0.21.0" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div id="loaderBar">
        <div class="indeterminate"></div>
    </div>
    <span class="d-none" id="eyeSlashIcon">@Html.Partial("Svg/_EyeSlashIcon")</span>
    <span class="d-none" id="eyeIcon">@Html.Partial("Svg/_EyeOutlinedIcon")</span>

    <div class="main-container px-3 network-extend-view">
        <div id="helperTooltip" class="helper-tooltip"></div>

        <div class="file-page-content">
            <input hidden value="@ViewBag.FileId" id="fileId" />
            <input hidden value="@ViewBag.ProjectId" id="projectId" />
            <input hidden value="@ViewBag.WWWRoot" id="wwwroot" />
            <input hidden value="@ViewBag.ViewType" id="viewType" />
            <input hidden value="@ViewBag.DisplayParents" id="displayParents" />
            <input hidden value="@ViewBag.DisplayEquals" id="displayEquals" />
            <input hidden value="@ViewBag.DisplayChildren" id="displayChildren" />
            <input hidden value="@ViewBag.DisplaySubChildren" id="displaySubChildren" />
            <input hidden value="@ViewBag.SubSysFileId" id="subSysFileId" />
            <input hidden value="@ViewBag.FuncGrLevel" id="functionGroupLevel" />
            <input hidden value="@ViewBag.CurrentFuncGr" id="currentFunctionGroups" />
            <input hidden value="@ViewBag.IsCurrentlyInLastFunctionGroupLevel" id="isCurrentlyInLastFunctionGroupLevel" />
            @*<input hidden value="@ViewBag.ShowSubSystemAsChild" id="showSubSystemAsChild" />*@

            <div style="position: relative; flex: 1 1 auto; height: 95vh;" id="mainView"></div>

            <div class="right-panel">
                <form id="filterForm" class="small-form">
                    <div class="row small-form-row">
                        <div class="small-form-col--sm small-form-group small-form-group--left">
                            <label class="control-label mb-0" for="from">From:</label>
                        </div>

                        <div class="small-form-col--35 small-form-group small-form-group--center">
                            <input id="from" name="from" class="form-control" />
                        </div>

                        <div class="small-form-col--xs small-form-group small-form-group--center">
                            <label class="control-label mb-0" for="to">To:</label>
                        </div>

                        <div class="small-form-col--35 small-form-group small-form-group--right">
                            <input id="to" name="to" class="form-control" />
                        </div>
                    </div>

                    <div class="row small-form-row">
                        <div class="small-form-col--sm small-form-group small-form-group--left">
                            <label class="control-label mb-0" for="linksLower"># Links:</label>
                        </div>

                        <div class="small-form-col--35 small-form-group small-form-group--center">
                            <input id="linksLower" name="linksLower" class="form-control" min="1" type="number" />
                        </div>

                        <div class="small-form-col--xs small-form-group small-form-group--center justify-content-center">
                            <label class="control-label mb-0" for="linksUpper">-</label>
                        </div>

                        <div class="small-form-col--35 small-form-group small-form-group--right">
                            <input id="linksUpper" name="linksUpper" class="form-control" min="1" type="number" />
                        </div>
                    </div>

                    <div class="row small-form-row">
                        <div class="small-form-col--sm small-form-group small-form-group--left">
                            <label class="control-label mb-0" for="folder">Folder:</label>
                        </div>

                        <div class="small-form-col--45 small-form-group small-form-group--center">
                            <select id="folder" name="folder" class="form-control">
                            </select>
                        </div>

                        <div class="small-form-col--35 small-form-group small-form-group--right">
                            <button disabled type="submit" id="filterBtn" class="btn btn-light main-search-btn form-control">
                                @Html.Partial("Svg/_SearchIcon")
                            </button>
                        </div>
                    </div>
                </form>

                <table class="table table-bordered mb-0">
                    <thead class="thead--primary">
                        <tr>
                            <th id="signalTableFrom" scope="col" class="col" style="width: 40%; cursor: pointer;">
                                From
                                <span class="col__icon col__icon--right col__icon--thead"><i class="fa fa-sort"></i></span>
                            </th>
                            <th id="signalTableTo" scope="col" class="col" style="width: 40%; cursor: pointer;">
                                To
                                <span class="col__icon col__icon--right col__icon--thead"><i class="fa fa-sort"></i></span>
                            </th>
                            <th scope="col" class="col" style="width: 20%; cursor: pointer;">
                                <span class="col__icon col__icon--center col__icon--thead eye-container">
                                    @Html.Partial("Svg/_EyeSlashIcon")
                                </span>
                            </th>
                        </tr>
                    </thead>
                </table>

                @Html.Partial("_SignalTable")
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/pagination.min.js?v=1.0.21.0"></script>
    <script src="~/Scripts/bootstrap.min.js?v=1.0.21.0"></script>
    <script src="~/Scripts/d3/d3.min.js"></script>
    <script type="module" src="~/Scripts/site/pages/network-extend/index.js?v=1.0.21.0"></script>
</body>
</html>
