@model Simulysis.Models.TableView
@{
    ViewBag.UtilsForm = "projectSearch";
    ViewBag.Title = "Projects List";
    ViewBag.Controller = "Projects";
    ViewBag.ActiveTab = "All Projects";
    ViewBag.DeleteForm = "proj-del-form";
    ViewBag.ItemName = "projects";
    ViewBag.Title = ViewBag.FileName;
    ViewBag.CTitle = true;
    ViewBag.ActiveTab = ViewBag.ProjectName;
}

<div id="helperTooltip" class="helper-tooltip"></div>

<b id="pageTitle" style="font-size:18pt; color:#1D5193">@ViewBag.Title</b>
<div class="toolbar">
    <a href="@Url.Action("Index", "Files", new { projectId = Convert.ToInt64(ViewBag.ProjectId) })" class="toolbar-btn">
        @Html.Partial("Svg/_JumpBackIcon")
        Back
    </a>

    @*<a href="@Url.Action("Edit", "Files")" class="toolbar-btn">
            @Html.Partial("Svg/_PencilIcon")
            Edit
        </a>*@

    <button class="toolbar-btn toolbar-btn--disabled" id="upLevelBtn">
        @Html.Partial("Svg/_UpIcon")
        Up
    </button>

    <div class="toolbar-btn toolbar-btn--text">
        @Html.Partial("Svg/_EyeFilledIcon")
        System Level:&nbsp;<b id="systemLevelText">@ViewBag.SystemLevel</b>
    </div>
</div>

<div class="file-page-content" style="height:500px;overflow:hidden;">
    <input hidden value="@ViewBag.FileId" id="fileId" />
    <input hidden value="@ViewBag.ProjectId" id="projectId" />
    <input hidden value="@ViewBag.SwapView" id="swapView" />
    <input hidden value="@ViewBag.FullNet" id="fullNet" />
    <input hidden value="@ViewBag.WWWRoot" id="wwwroot" />
    <input hidden value="@ViewBag.DisplayParents" id="displayParents" />
    <input hidden value="@ViewBag.DisplayEquals" id="displayEquals" />
    <input hidden value="@ViewBag.DisplayChildren" id="displayChildren" />
    <input hidden value="@ViewBag.DisplayChildLibraries" id="displayChildLibraries" />
    <input hidden value="@ViewBag.DisplaySubChildren" id="displaySubChildren" />
    <input hidden value="@ViewBag.RootSysId" id="rootSysId" />
    <input hidden value="@ViewBag.DisplayTreeView" id="displayTreeView" />
    <input hidden type="text" name="relationshipSearch" id="relationshipSearch" />

    <div style="position: relative; flex: 1 1 auto;height:500px;" id="mainView"></div>
</div>

@section scripts {
    <script src="~/Scripts/pagination.min.js?v=1.0.10.1"></script>
    <script src="~/Scripts/d3/d3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.16/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.16/jstree.min.js"></script>
    <script type="module" src="~/Scripts/site/pages/show-file/index.js?v=1.0.10.1"></script>
}