
@{
    ViewBag.Title = ViewBag.FileName;
    ViewBag.CTitle = true;
    ViewBag.ActiveTab = ViewBag.ProjectName;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/bootstrap.min.css?v=1.0.9.2" rel="stylesheet" type="text/css" />
    <link href="~/css/Site/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/pagination.min.css?v=1.0.9.2" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body class="d-flex vh-100 w-100 position-relative">
    <div id="loaderBar">
        <div class="indeterminate"></div>
    </div>
    <nav class="bg-light d-flex flex-column align-items-start position-fixed h-100" style="width: 20%">
        <div class="h-50 p-2 w-100" id="navbarSupportedContent">
            <a class="my-2" style="color: #1d5193;">
                <h5><b>Filename: &nbsp;</b><b id="pageTitle">@ViewBag.Title</b></h5>
                <h5></h5>
            </a>
            <div class="navbar-nav mr-auto my-3">
                <div class="nav-item active d-flex">
                    <div class="toolbar toolbar-btn--text">
                        @Html.Partial("Svg/_EyeFilledIcon")
                        System Level:&nbsp;<b id="systemLevelText">@ViewBag.SystemLevel</b>
                    </div>
                    <div class="toolbar toolbar-btn--text">
                        <button class="toolbar-btn toolbar-btn--disabled" id="upLevelBtn">
                            @Html.Partial("Svg/_UpIcon")
                            Up
                        </button>
                    </div>

                </div>
            </div>

            <form id="trackForm" class="form-inline my-3 my-lg-0 d-flex">
                <div class="small-form-col--lg small-form-group small-form-group--center mr-sm-2  position-relative ">
                    <input disabled type="text" id="trackInput" class="form-control w-100" placeholder="Name of Signal">
                    <div class="h-100  align-items-center" style="position: absolute; right: 0; top: 0; display: flex;">
                        <button type="button" id="deleteTrack" class="bg-transparent border-0" style="color: rgba(0, 0, 0, 0.7)">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="">
                    <span class="small-form-col--md small-form-group small-form-group--right my-2 my-sm-0">
                        <button disabled id="trackSignal" type="submit" class="btn main-search-btn form-control" title="Track" style="background-color: #1d5193; color: white;">
                            <b>Track</b>
                        </button>
                    </span>
                </div>

            </form>
            <div class="d-flex mt-3 ms-2">
                <div id="loaderTraceSignal" class="mr-2" >

                </div>
                <h5 id="traceSignalResult">
                    
                </h5>
            </div>
        </div>

        <div id="block-detail" class="h-50 w-100 p-2" style="border: 1px solid #ccc; overflow-y: scroll;">
@*            backgroundColor, blockType, bottom, left
            , top, right, foregroundColor, gotoTag, height
            , width, id, name, numberOfInPorts, numberOfOutPorts
            , parentId, sourceFile, stringId, type*@
        </div>
    </nav>



    <div id="helperTooltip" class="helper-tooltip"></div>

    <div class="position-fixed h-100" style="left: 20%; width: 60%;">
        <div class="file-page-content position-relative h-100 w-100">
            <div class="main-loader h-100" style="top: 0;">
                <div class="spinner-border"></div>
                <div id="loading-text">Loading views, please wait...</div>
            </div>
            <input hidden value="@ViewBag.FileId" id="fileId" />
            <input hidden value="@ViewBag.ProjectId" id="projectId" />
            <input hidden value="@ViewBag.WWWRoot" id="wwwroot" />
            <input hidden value="@ViewBag.RootSysId" id="rootSysId" />


            <div style="position: relative; flex: 1 1 auto;" id="mainView"></div>
        </div>
    </div>


    <input hidden value="" id="blockStringId" />
    @*Trace to des*@
    <button hidden id="traceToDes"></button>

    @*Trace to src*@
    <button hidden id="traceToSrc"></button>
    <ul class='custom-menu'>
        <li data-action="first" id="handleTraceToSrc">Trace to Source</li>
        <li data-action="second" id="handleTraceToDes">Trace to Destination</li>
        
    </ul>

    <div id="subView" class="position-absolute" style="left: 80%; width: 20%; height: 100%; border-left: 1px solid #ccc;">
       
    </div>
    <input id="numClick" hidden />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js?v=1.0.9.2"></script>
    
    <script src="~/Scripts/d3/d3.min.js"> </script>

    <script type="module" src="~/Scripts/site/pages/trackline/index.js"></script>

    <script>

      
        $(document).bind("mousedown", function (e) {

            
            if (!$(e.target).parents(".custom-menu").length > 0) {

                $(".custom-menu").hide(100);
            }
        });

        $(".custom-menu li").click(function (e) {
            e.preventDefault();
            switch ($(this).attr("data-action")) {
                case "first":
                    $("#handleTraceToSrc").click((e) => {
                        e.preventDefault();
                    });
                    break;
                case "second":
                    $("#handleTraceToDes").click((e) => {
                        e.preventDefault();
                    });
                    break;

            }

            
            })
    </script>

</body>
</html>
